

<table>
    <tr>
      <th bgcolor="grey">id</th>
        <th bgcolor="grey">First Name</th>
        <th bgcolor="grey">Last Name</th>
        
        <!-- <th bgcolor="grey">Date of Birth</th>
        <th bgcolor="grey">Age</th>
        <th bgcolor="grey">Joining Date</th>
        <th bgcolor="grey">Country</th> -->
    </tr>
    <tbody>
        <tr *ngFor="let employee of arr">
          <td>{{ employee.id }}</td>
          <td><button  (click)="changeDisplay(employee)">{{ employee.firstName }}</button></td>
          <td>{{ employee.lastName }}</td>
          
          

            <button (click)="changeDisplay(employee)">Full details</button>
            <button (click)="updateEmp(employee)">Update</button>
            <button (click)="delete(employee.id)">Delete</button>
            
       </tbody>
       <button (click)="addEmp()">add new Employees</button>
       <button (click)="searchEmp()">search Employees</button>
</table>