<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
  border: 1px solid hwb(0 0% 100%);
  border-collapse: collapse;
}

    </style>
    <title>Document</title>
</head>
<body>
    <table>
        <!-- <tr>
            
            <th bgcolor="grey">State</th>
            <th bgcolor="grey">Cheif Minister</th>
            <th bgcolor="grey">Capital</th>
        </tr> -->
        <tr>
            <th bgcolor="#bababa">First Name</th>
            <td >Jagan</td>
            <td>ann</td>
            <td>anna</td>
            <td>anu</td>
            <td>manu</td>
        </tr>
        <tr>
            <th bgcolor="#bababa">Last Name</th>
            <td>KCR</td>
            <td>jhon</td>
            <td>v</td>
            <td>RM</td>
            <td>jimin</td>
        </tr>
        <tr>
            <th bgcolor="#bababa">Date of Birth</th>
            <td>27-04-2001</td>
            <td>28-04-2000</td>
            <td>27-05-2002</td>
            <td>24-03-2003</td>
            <td>22-08-2005</td>
        </tr>
        <tr>
            <th bgcolor="#bababa">Age</th>
            <td>22</td>
            <td>23</td>
            <td>21</td>
            <td>20</td>
            <td>19</td>
        </tr>
        <tr>
            <th bgcolor="#bababa">Joining Date</th>
            <td>3-07-2023</td>
            <td>3-07-2023</td>
            <td>3-07-2023</td>
            <td>3-07-2023</td>
            <td>3-07-2023</td>
        </tr>
        <tr>
          <th bgcolor="#bababa">Country</th>
          <td>India</td>
          <td>India</td>
          <td>India</td>
          <td>India</td>
          <td>India</td>
      </tr>
    </table>
</body>
</html>