<h1>add employee details</h1>
<form [formGroup]="ngForm" (ngSubmit)="onsubmit()" >

    <label for="first-name">First Name</label>
    <input id="first-name" type="text" formControlName="firstName" />

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName" />

  <label for="Email">Email </label>
  <input id="Email" type="text" formControlName="Email" />

  

  <label for="phoneNumber">phoneNumber </label>
  <input id="phoneNumber" type="text" formControlName="phoneNumber" />

  <label for="departmentId">departmentId: </label>
  <input id="departmentId" type="text" formControlName="departmentId" />
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!ngForm.valid">Submit</button>
</form>
